<% placeholder ||= "" %>
<div class="w-1/2 flex items-center justify-center flex-col" >
  <%= f.association field, input_html: { class: "rounded-xl mb-8" }, wrapper_html: { class: "w-1/2 flex items-center justify-center flex-col" } %>
</div>