<% placeholder ||= "" %>
<div class="w-1/2 flex items-center justify-center flex-col">
  <%= f.label field, style: "display: block" %>
  <%= f.text_field field, class: "rounded-xl mb-8 flex flex-col", placeholder: placeholder %>
</div>