<div id="<%= dom_id outfit %>">
  <p>
    <strong>Name:</strong>
    <%= outfit.name %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= outfit.visibility %>
  </p>

  <p>
    <strong>User:</strong>
    <%= outfit.user_id %>
  </p>

</div>
