<%= simple_form_for piece do | f | %>
  <%= f.input :name %>
<% end %>


<%#= form_with(model: piece) do |form| %>

  <%#= render "partials/forms/form", model: piece do %>

    <%#= render "partials/forms/text_input", f: form, field: :name, placeholder: "Grunge Tshirt..."%>
    <%#= render "partials/forms/text_input", f: form, field: :origin %>
    <%#= render "partials/forms/text_input", f: form, field: :buy_link %>
    <%#= render "partials/forms/text_input", f: form, field: :size_id %>
    <%#= render "partials/forms/text_input", f: form, field: :name %>

<!--    <div>-->
      <%#= form.label :body_part_id, style: "display: block" %>
      <%#= form.number_field :body_part_id %>
<!--    </div>-->

<!--    <div>-->
      <%#= form.label :visibility, style: "display: block" %>
      <%#= form.check_box :visibility %>
<!--    </div>-->

<!--    <div>-->
      <%#= form.submit %>
<!--    </div>-->

  <%# end %>

<%# end %>
