<div id="<%= dom_id size %>">
  <p>
    <strong>Fr name:</strong>
    <%= size.fr_name %>
  </p>

  <p>
    <strong>Eu name:</strong>
    <%= size.eu_name %>
  </p>

  <p>
    <strong>Us name:</strong>
    <%= size.us_name %>
  </p>

</div>
