
<div class="rounded-t-xl flex flex-col items-center rounded-b p-6 mr-3">
    <div class="bg-white w-full rounded-t-xl flex items-center justify-center w-48 h-36 text-center pl-6 pr-6 ">
    <%= image_tag image_path, alt: alt_text, class: "w-36 h-full" %>
    </div>
    <div class="bg-slate-500 rounded-b text-center flex flex-col w-48 h-24 p-3">
    <h3> <%= name %> </h3>
    <div class="flex flex-row">
    <h4 class="mr-2 w-1/2"> <%= category %> </h4>
    <h4 class="w-1/2"> <%= size %> </h4>
    </div>
    </div>

</div>