<% if model.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(model.errors.count, "error") %> prohibited this piece from being saved:</h2>

  <ul>
    <% model.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="git w-3/4 lg:w-1/2 flex items-center justify-center flex-col bg-slate-400  rounded-xl pt-6 pb-6">
<%= yield %>
</div>