<h1>Editing body part</h1>

<%= render "form", body_part: @body_part %>

<br>

<div>
  <%= link_to "Show this body part", @body_part %> |
  <%= link_to "Back to body parts", body_parts_path %>
</div>
